[submodule "Lotion/vendor/spdlog"]
	path = Lotion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lotion/vendor/GLFW"]
	path = Lotion/vendor/GLFW
	url = https://github.com/SinxLinonZ/glfw
